.header{
    text-align: center;
}
.header nav{
    background-color: rgb(20, 20, 20);
    line-height: 50px;
}
.header nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}
.header nav a:hover{
    padding: 15px 15px;
    color: rgb(26, 25, 25);
    background-color:lightgrey;
}
img{
    height: 50px;
}